<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Articles', blogs_path %></li>
  <li><%= link_to 'New Article', new_blog_path %></li>
</ul>

<p id="notice"><%= notice %></p>
    <% @blogs.each do |blog| %>
        <h1><%= blog.title %></h1>
        <p><%= blog.description %></p>
        <p>Created/updated on <%= blog.created_at %><br> <br >
        <%= link_to 'Show', blog, class: 'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info btn-xs'  %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'  %></p>
    <% end %>
<%= will_paginate %>